.card-up {
    position: relative;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    padding: 5%;
    box-shadow: 0 0 15px #c7c4c4;

    .logo {
        margin: 0 auto 20px;
        display: block;
        img {
            margin: 0 auto ;
            display: block;
        }
    }
    Button {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .field {
        font-size: 10px;
        color: #c00;
        font-weight: 700;
        margin-left: 10px;
    }
    a {
        cursor: pointer;
        p {
            margin-top: 15px;
        }
    }
    
}
